KERNEL=="loop0", RUN+="/bin/sh -c '/usr/local/netbird/boot.sh'"
KERNEL=="wlan*", ACTION=="add", RUN+="/bin/sh -c '/usr/local/netbird/on-wlan-up.sh'"
KERNEL=="wlan*", ACTION=="remove", RUN+="/bin/sh -c '/usr/local/netbird/on-wlan-down.sh'"